* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
} 

.header-nav {
    position: fixed;
    background-color: #000;
    border-bottom: 1px solid seashell;
    width: 100%;
    height: 69px;
    z-index: 2;
}

.header-nav li {
    display: inline-block;
}

#it-left {
    position: absolute;
    left: 10px;
    text-decoration: none;
    font-family: cursive;
    font-size: 40px;
}

.it-right {
    top: 20px;
    position: absolute;
    right: 0;
}

.it-right li {
    text-decoration: underline;
    padding: 0 10px;
}

main {
    top: 69px;
}
.banner {
    background-image: url('./images/img-mission-background.jpg');
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    position: relative;
} 

.ban-des {
    width: 1200px;
    position: absolute;
    z-index: 1;
    background-color: #000;
    margin: 0 auto;
    top: 300px
}

 h2,
 h4 {
    padding: 10px;
}

.steep {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
}

.des-st {
    margin-top: 70px;
    text-align: center;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.items {
    margin: 15px;
}

.items p {
    margin-top: 10px;
}

.items .image-it {
    background-size: 200px 300px;
    width: 300px;
}

.locations {
    background-image: url('./images/img-locations-background.jpg');
    height: 580px;
    Width: 1200px;
    margin: 0 auto;
    position: relative;
}    

.locations > h2 {
    padding-top: 70px;
}

.itemslo {
    background-color: #000;
    height: 300px;
    width: 300px;
    margin: 15px 20px;
    
}

.itemslo h4,
.itemslo p {
    padding: 20px 10px;
}
.contact {
    height: 200px;
}

h5 {
    margin-top: 40px;
}

footer .contact p {
    margin: 30px auto;
}

.copyright {
    margin: 50px 0 30px 15px;
    text-align: left;

}
